body{
    background-color: #fefefe;
    color:black;
    font-size: 16px;
}
#main-div{
    background-color: #f1f1f1;
    border-radius: 10px;
    margin: 10px 20px 20px 10px;
    padding: 20px 40px 40px 40px;
}
header{
    text-align: center;
}
#caption{
    text-align: center;
}
#spidey-logo{
    display: block;
    margin: auto;
    border-radius: 50%;
}
h2{
    text-align: left;
}
p{
    display: block;
    margin: auto;
    width: auto;
    text-align: left;
}
#subtitle{
    font-size: 20px;
}
footer{
    text-align: right;
}
#img{
    display: block;
    margin: auto;
}
ul{
    width: auto;
    display: block;
    margin: 0 auto;
}
li{
    text-align: left;
}
#text{
    margin: 20px;
}
#final{
    width: auto;
}
#img-div{
    padding-left: 30px;
    background-color: inherit;
    float: right;;
}
#block{
    background-color: red;
}