body{
  background-color: black;
    margin:0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;
  }
  header{
    position: fixed;
    background-color:black;
    padding: 0px;
    margin:0px;
    display:flex;
    width:100%;
    height:60px;
  }
  #header-img{
    margin-left:12%;
    max-width: 100%;
    max-height: 100%;
    width:14%;
    height: auto;
    padding-top:0px;
    padding-bottom:2%;
    display:inline-block;
  }
  #ryzen-logo{
    margin-left:3%;
    max-width: 100%;
    max-height: 100%;
    width:14%;
    height: auto;
    display:inline-block;
  }
  ul{
   float:left;
   list-style:none;
   width:100%;
   margin-top:0%;
   margin-left:20%;
  }
  nav{
    width:50%;
  }
  #logo{
    width:50%;
    background-color:black;
  }
  .header{
    float:left;
    width:15%;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    padding-bottom:3%;
    color:white;
    text-align:center;
  }
  .header:hover{
    background-color:darkslategray ;
  }
  #main-div{
    margin:0px;
  }
  #feature{
    color:white;
  }
  #fea{
    padding:0px;
  
  }
  .grid{
    display: flex;
    width:100%;
    overflow: auto;
    flex-direction:row;
  }
   h3 {
      font-size:19px;
    }
  .desc{
    width:50%;
    margin-top:0%;
    padding:3%;
    font-size:17px;
   
  }
  img{
    display:table-cell;
     width:100%;
     background-color:black;
    vertical-align:middle;
  
  }
  .feature-img{
    width:45%;
    height:70%;
  }
  
  #videodiv{
    width:100%;
    height:600px;
    background-image: url(https://www.amd.com/system/files/138886-ryzen-heavy-metal-1920x600.jpg);
    background-repeat:no-repeat;
    float:left;
    vertical-align:middle;
    color:white;
  }
  #video-text{
    padding:5%;
    margin-top:5%;
    width:35%;
    float:left;
  }
  iframe{
    width:50%;
    height:65%;
    vertical-align:middle;
    float:left;
    margin-top:10%;
  }
  #grad{
    background-image: linear-gradient(#3b383e,#2c2a36,#1c222a,#111b24);
  }
  
  a{
    color: white;
    text-decoration:none;
  }
  #Performance{
    padding:5%;
    padding-top:5%;
    padding-bottom:5%;
    display:flex;
    background-color:black;
    justify-content: center;
    text-align:center;
    height:300px;
  }
  .table-wrapper{
    margin-left: 12%;
    width:70%;
    text-align:center;
    height:200px;
  }
  #Perh2{
    margin-top: 40%;;
    margin-left:10%;
    vertical-align: center;
  }
  table{
    background-color: #202020;
    border-collapse: collapse;
  }
  th,td{
    padding:1%;
    border-collapse: collapse;
    background-color: #202020;  
    border: 1px solid black;
  }
  .type{
    font-size:2em;
    height:1.5em;
    padding:2%;
  }
  #Pricing{
    padding:0;
    display:flex;
    flex-direction:row;
    margin: auto;
    width: 65%;
    padding-top:5%;
    padding-bottom:5%;
    
  }
  ol{
    list-style-type:none;
    padding:10px;
  }
  .ol{
    pointer-events: none;
    padding:5%;
    width:100%;
  }
  #ryzen3{
    width:28%;
    display: flex;
     flex-direction: column;
    border: 1.5px solid #327962;
    margin-left:auto;
    margin-right:auto;
    background-color:#240095;
    padding-bottom:2%;
    background-image: linear-gradient(#0C0032,#190061,#224f62);
    align-items: center;
    text-align: center;
  }
  #ryzen7{
    display: flex;
    flex-direction: column;
    width:28%;
    border: 1.5px solid #8860D0;
    margin-left:auto;
    margin-right:auto;
    background-color:#0C0032;
    background-image: linear-gradient(#0C0032,#190061,#44318D);
    padding-bottom:2%;
    align-items: center;
    text-align: center;
  }
  #ryzen5{
    width:28%;
    display: flex;
      flex-direction: column;
    border: 1.5px solid #0050FD;
    background-color:#190061;
    background-image: linear-gradient(#0C0032,#190061,#00008D);
    padding-bottom:2%;
    align-items: center;
    text-align: center;
  }
  
  #PriceContain{
     background-image: linear-gradient(#191b27,#36394a,#524f62);
  }
  .button {
    background-color: #2E9CAA;
    border: none;
    color: white;
    width:40%;
    height:45px;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius:5%;
  }
  .button:hover{
    background-color:#3cbccc;
    color:#08462a;
  }
  li{
    text-align:center;
  }
  #email-div{
    margin-top:0px;
    height:550px;
   background-image:url("https://asset.msi.com/event/mb/2018/best-ryzen/images/tb.jpg");
   
  }
  #hero{
    text-align:center;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    width:50%;
  }
  #form{
    padding-top:20%;
  }
  #form h2{
    font-size:50px;
  }
  #email{
    width:80%;
    height:1.5em;
    font-size:20px;
  }
  #submit{
    margin:5%;
    width:8em;
    height:3em;
    color:white;
    background-color:#1abc9c;
    border-color:#1abc9c;
  }
  #submit:hover{
    background-color:#3498db;
  }
  @media (max-width:1100px){
    .desc{
      font-size:15px;
    }
    
  }
  @media (max-width:900px){
    .desc{
      font-size:14px;
      padding:0px;
    }
    #grad{
      height:200px;
      overflow:hidden;
    }
  }
    @media (max-width:768px){
    
    .desc{
      font-size:14px;
    }
      header{
        height:50px;
      }
      #logo{
    width:40%;
    background-color:black;
  }
  #header-img{
    margin-left:10%;
    width:40%;
    height: auto;
    padding-bottom:8%;
  }
   #ryzen-logo{
    margin-left:5%;
    margin-top:5%;
    width:40%;
  }
      nav{
        display:none;
      }
   #form h2{
    font-size:35px;
  }
      #email{
        width:100%;
      }
      #submit{
        width:5em;
        height:2em;
      }
      #Pricing{
        width:95%;
        font-size:14px;
        flex-direction:column;
        align-items:center;
      }
      
      .type{
        font-size:20px;
      }
      .from{
        font-size:16px;
      }
      #ryzen3,#ryzen5,#ryzen7 {
        width:50%;
        margin:10px;
      }
      .button{
       width:50%;
      height:2em; 
      }
      #video-text{
        width:80%;
      }
     iframe{
       margin-left: 12%;
       height:200px;
       width:80%;
      }
      .grid{
        width:100%;
        flex-direction: column;
        overflow:hidden;
      }
      .desc{
        width:100%;
        font-size:14px;
        padding:0px;
      }
      #fea{
        display:block;
      }
  
      #videodiv{
        height:600px;
        justify-content:center; 
      }
      #Performance{
        display:block;
        height:350px;
        font-size:12px;
      }
      #Perh2{
        margin:2%;
      }
      .table-wrapper{
        margin:5%;
      }
      #nondisplay{
        display:none;
      }
      .feature-img{
    width:100%;
    background-color:black;
  }
      #grad{
        height:470px;
      }
  }